[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/python-stuff/fetch-database.py

[Install]
WantedBy=multi-user.target
